<p id="notice"><%= notice %></p>
<nav class="navbar">
	<div class="container">
		<div class="row vertical-align">
			<div class="col-md-5">
				<%= image_tag("chirp.png", alt: "Chirp")%>
			</div>

			<div class="col-md-7">
				<h1>Broadcast yourself</h1>
				<h2>just text or call <strong>1-305-928-1390</strong></h2>
		</div>
	</div>
</nav>

<% @chirps.each do |chirp| %>
	<div class="container list-group">
		<!-- <meta http-equiv="refresh" content="5"> -->
		<div class="row list-group-item">
			<div class="col-md-8">
				<p class="lead"><%= chirp.description %></p>
				</div>
			<div class="col-md-1">
				<%= link_to raw('<i class="fa fa-play-circle-o fa-2x pull-right"></i>'),
				chirp.url %>
				<audio controls>
					<source src="#{chirp.url}.wav" type="audio/wav">
				</audio>
			</div>
			<div class="col-md-2">
				<%= chirp.from %>
				</div>
			<div class="col-md-1">
				<!--<a href=""><i class="fa fa-pencil-square-o fa-lg"></i></a>-->
				<%= link_to raw('<i class="fa fa-trash-o fa-lg pull-right"></i>'),
				chirp, method: :delete,
				data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
<% end %>
